#### 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
- '*' - it is multiplication arithmetic operators
- 'hello' - it is string
- -87.8 - it is a float value
- '-' it is subtraction arithmetic operators
- '/' - it is a Division arithmetic operators
- '+' - it is a additional arithmetic oprerators
- 6 - integer value

#### 2. What is the difference between string and variable?
#### String
- String is write in singal or double inverted commas
- for example - "Nikunj Ramani" or 'Nikunj'

#### Variable
- Variable isn't write in singal or double inverted commas
- It is used for denote the object by the name
- for example s = "Nikunj Ramani", here s is variable

In [1]:
#string
"Nikunj Ramani"

'Nikunj Ramani'

In [3]:
#Variable s
s = "Nikunj Ramani"
s

'Nikunj Ramani'

#### 3.Describe three different data types.

- Numeric
  - Integer - it is absolute value like 3,5,32,75
  - Float - it is float value like 3.2 5.6 22.001
  - complex - it is like 1 + 5j
- Sequence
  - String - String - it is in " ", or ' '
  - List - it has store in square bracket [1,2,2]. It is mutable
  - Tuple - it has store in parenthesis bracket (1,2,3). it is immutable
- Boolean - It have two types of data True ot False
- Dictionary - It has key,value pair data and store in curly bracket {'Nik':50}
- Set - it is written in {}. it is mutable.

In [14]:
s = 6
type(s)

int

In [5]:
f = 2.5
type(f)

float

In [6]:
c = 1 + 5j
type(c)

complex

In [7]:
s = "Nikunj"
type(s)

str

In [8]:
l = [1,2,3]
type(l)

list

In [9]:
t = (1,2,3)
type(t)

tuple

In [10]:
x = True
type(x)

bool

In [11]:
dict1 = {'Name':'Nikunj', 'Mo':99596562}
type(dict1)

dict

In [13]:
s = {1,2,3}
type(s)

set

#### 4.What is an expression made up of? What do all expressions do?
- it is combination of operators and operands that produce othe value
- Arithmetic - it is combination of oprators and numeric value (+,-,*,/,//,%,%, **)
- Logical - it gives result either true of false (and, or, not)
- Assignment - it assign the value (=,+=,-=,...)
- Comparison - its are compare the two value (==, !=, <, >, >=, <=)
- Identify - it compare two variable (is, is not)
- Membership - it check the data present or not (in, not in)

####  5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [15]:
spam = 10 # Expression
print(spam)  # Statement

10

#### 6. After running the following code, what does the variable bacon contain?
- bacon variable add 1

In [16]:
bacon = 22

In [17]:
bacon + 1

23

#### 7. What should the values of the following two terms be?
- both values are equal

In [18]:
'spam'+'spamspam'

'spamspamspam'

In [19]:
'spam'*3

'spamspamspam'

#### 8. Why is eggs a valid variable name while 100 is invalid?
- eggs is valid becase variable name star with alphbetic.
- 100 is not valid becase variable name never start with numerical value

#### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?
- int()- used for integer
- float() - used for floating point number
- str() - used for string value

#### 10. Why does this expression cause an error? How can you fix it?
'I have eaten'+ 99 + 'burritos'
-  becase you can not combine diffrent data types. Here string and integer data ir present so that it gives error.